wp-config.php
error_log

plugins/cs-framework/*
plugins/jobhunt-indeed-jobs/*
plugins/loco-translate/*
plugins/revslider/*
plugins/woocommerce/*
plugins/wp-mvc/*

themes/twentyseventeen/*

uploads/*
upgrade/*
